# Python
__pycache__/
*.py[cod]
*$py.class
api/__pycache__/

# Virtual environments
.venv/
env/
venv/
pip-wheel-metadata/

# Flask instance folder
instance/taskito.db
instance/*.py

# Environment files
.env
.env.*

# Editor files
.DS_Store
.vscode/
.idea/
*.swp
